body{
    background-color: #2dcadfb2;
    background-size:cover;
 
}
#encavesado{
    background-color: #0aa3b8b2;
    background-size: 100%;
    margin-top: 10px;

}
.imagen{
    background-image: url(WhatsApp\ Image\ 2026-05-09\ at\ 8.19.52\ PM.jpeg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: 10px 1px;
    height: 400px;

}
.pie_de_pagina{
    background-color: #0aa3b8b2;
    background-size: 100%;
    margin-right: 10px;
}
.text-center{
    background-color: #0aa3b8b2;
    background-size: 100%;
    margin-right: 10px;
    font-size: 20px;
}
